@media all
{
	[class^="icon-"], [class*=" icon-"]
	{
		font-size: 1.4em;
	}

	table
	{
		border: 1px solid #666;
		border-radius: 3px;
		border-spacing: 0;
		empty-cells: show;
	}

		th, td
		{
			border-right: 1px solid #666;
			border-bottom: 1px solid #666;
			padding: 5px 10px 5px 5px;
			vertical-align: top;
		}

			tr:last-child th, tr:last-child td
			{
				border-bottom: none;
			}

			th:last-child, td:last-child
			{
				border-right: none;
			}

		th
		{
			background: #ddd;
			text-align: left;
		}

		td
		{
			
		}

			tr:nth-child(odd) td
			{
				background: #eee;
			}

			td a
			{
				border-bottom: 1px solid #ccc;
				color: #333;
				text-decoration: none;
			}

	.alignleft, .alignright
	{
		width: 50%;
	}

	.mf_form
	{
		border-bottom: 1px solid #aaa;
	}

		.mf_form .alignleft, .mf_form .alignright
		{
			clear: none;
		}

		.mf_form.active, .form_row.active
		{
			background: #fff6bf;
			border: 2px solid #ffd324;
			border-radius: 5px;
			margin: 10px 10px 10px 0;
			padding: 0 5px;
		}

	.form_row
	{
		border: 2px solid transparent;
		margin-right: 20px;
		position: relative;
		padding: 5px;
	}

		.form_row:hover:not(.active)
		{
			background: #eee;
			border-color: #ccc;
			border-radius: 5px;
			min-height: 60px;
		}

		.form_buttons
		{
			display: none;
		}

			.form_row:hover:not(.active) .form_buttons
			{
				background: #eee;
				display: block;
				padding: 5px;
				position: absolute;
				right: 5px;
				top: 5px;
			}

		.tr_range, .tr_check, .tr_text, .tr_select
		{
			display: none;
		}

		.tr_range input
		{
			margin-right: 1%;
			width: 24%;
		}

		.tr_select
		{
			margin-bottom: 10px;
		}

			.select_rows > div
			{
				overflow: hidden;
			}

				.select_rows > div .form_textfield
				{
					float: left;
				}

					.select_rows > div .form_textfield:first-child
					{
						margin-right: 1%;
						width: 10%;
					}

					.select_rows > div .form_textfield:last-child
					{
						width: 39%;
					}

						.select_rows > div .form_textfield input
						{
							width: 100%;
						}

			.tr_select .icon-plus-sign
			{
				color: #169328;
				cursor: pointer;
				font-size: 1.2em;
			}

	#flot_pie
	{
		height: 300px;
		margin-bottom: 20px;
		width: 400px;
	}
}